{% extends 'trends/home.html' %}
{% load static %}
<!--                NAV BAR             -->
{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">socim.org</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><img src="{% static 'trends/img/house.svg' %}">Home</a></li>
            <li><a href="/search"><img src="{% static 'trends/img/magnifier.svg' %}">Search</a></li>
            <li><a href="/tt"><img src="{% static 'trends/img/magnifier.svg' %}">Trend Topics</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
<!--                ----------             -->

{% block content %}
{% endblock %}
<!--                CONTENT 2            -->
{% block content2 %}
<div class="container">
    <h2>{{hash}}</h2>
    <h3>Latest tweets with <b>{{hash}}</b> hashtag</h3>
    {% for tweets in tweets_about %}
    <div id="best-tweets-box">
        <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
            <img id="user-img" src="{{tweets.user.profile_image_url}}">
            <div id="user-name-align">
                <span>{{tweets.user.name}}</span>
                <br>
                <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
            </div>
        </a>
        {% if tweets.user.verified %}
        <img id="verified-badge" style="width:20px;" src="static/scrape/img/verified.png">
        {% endif %}
        <div id="text-area">
            {{tweets.text}}
            {{tweets.hashtags}}
        </div>
        <hr>
        <div id="tweets-about-footer">
            {{tweets.created_at}} |
            {{tweets.retweet_count}} RT |
            {{tweets.favorite_count}} Likes
        </div>
    </div>
    {% endfor %}
{% endblock %}
</div>
<!--                ----------             -->