{% extends 'trends/home.html' %}
{% load static %}

<!--                NAV BAR             -->
{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">socim.org</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><img src="{% static 'trends/img/house.svg' %}">Home</a></li>
            <li><a href="/search"><img src="{% static 'trends/img/magnifier.svg' %}">Search</a></li>
            <li><a href="/tt"><img src="{% static 'trends/img/magnifier.svg' %}">Trend Topics</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
<!--                ----------             -->

{% block content %}
{% endblock %}
<!--                CONTENT 2            -->
{% block content2 %}
<div class="container">
    <h2>{{hash}}</h2>
    <h3>Latest tweets with <b>{{hash}}</b></h3>
    {% for tweets in tweets_about|slice:":30" %}
    <div id="tweets-about-box">
        <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
            <img id="user-img" src="{{tweets.user.profile_image_url}}">
            {{tweets.user.name}}
            <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
        </a>
        {% if tweets.user.verified %}
        <img id="verified-badge" style="width:20px;" src="static/scrape/img/verified.png">
        {% endif %}
        <div id="text-area">
            {{tweets.text}}
            {{tweets.hashtags}}
        </div>
        <hr>
        <div id="tweets-about-footer">
            {{tweets.created_at}} |
            {{tweets.retweet_count}} RT |
            {{tweets.favorite_count}} Likes
        </div>
    </div>
    {% endfor %}

    <!-- Hide tweets  -->
    <div id="hide-div">
        {% for tweets in tweets_about|slice:"30:60" %}
        <div id="tweets-about-box">
            <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
                <img id="user-img" src="{{tweets.user.profile_image_url}}">
                {{tweets.user.name}}
                <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
            </a>
            {% if tweets.user.verified %}
            <img id="verified-badge" style="width:20px;" src="static/scrape/img/verified.png">
            {% endif %}
            <div id="text-area">
                {{tweets.text}}
                {{tweets.hashtags}}
            </div>
            <hr>
            <div id="tweets-about-footer">
                {{tweets.created_at}} |
                {{tweets.retweet_count}} RT |
                {{tweets.favorite_count}} Likes
            </div>
        </div>
        {% endfor %}
    </div>
    <!--  -->

    <!-- Hide tweets 2 -->
    <div id="hide-div2">
        {% for tweets in tweets_about|slice:"60:90" %}
        <div id="tweets-about-box">
            <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
                <img id="user-img" src="{{tweets.user.profile_image_url}}">
                {{tweets.user.name}}
                <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
            </a>
            {% if tweets.user.verified %}
            <img id="verified-badge" style="width:20px;" src="static/scrape/img/verified.png">
            {% endif %}
            <div id="text-area">
                {{tweets.text}}
                {{tweets.hashtags}}
            </div>
            <hr>
            <div id="tweets-about-footer">
                {{tweets.created_at}} |
                {{tweets.retweet_count}} RT |
                {{tweets.favorite_count}} Likes
            </div>
        </div>
        {% endfor %}
    </div>
    <!--  -->
    <button class="bg-primary" id="load-btn">Load More</button>
{% endblock %}
</div>
<!--                ----------             -->
