{% extends 'trends/home.html' %}
{% load staticfiles %}


{% block content %}
{% endblock %}
<!--                CONTENT 2            -->
{% block content2 %}
<div class="container">
    <h2>{{user_search}}</h2>
    <h3>Tweets with <b>{{user_search}}</b> hashtag</h3>
    <div class="multi-column">
        {% for tweets in tweets_about|slice:":30" %}
        <div id="tweets-about-box">
            <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
                <section class="user-align">
                    <img id="user-img" src="{{tweets.user.profile_image_url}}">
                    <div id="user-name-align">
                        <span>{{tweets.user.name}}</span>
                        <br>
                        <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
                    </div>
                    {% if tweets.user.verified %}
                    <img id="verified-badge" style="width:20px;" src="{% static 'trends/img/verified.png' %}">
                    {% endif %}
                </section>
            </a>
            <div id="text-area">
                {{tweets.text}}
                <!-- @ link -->
                {% if tweets.user_mentions.0.screen_name %}
                    {% for screen_names in tweets.user_mentions %}
                    <a href="{% url 'users' user_name=screen_names.screen_name %}">
                        @{{screen_names.screen_name}}
                    </a>
                    {% endfor %}
                {% endif %}
                <!-- # link -->
                {% if tweets.hashtags.0.text %}
                    {% for hashtags in tweets.hashtags %}
                        <a href="{% url 'hash' hash_name=hashtags.text %}">
                            #{{hashtags.text}}
                        </a>
                    {% endfor %}
                {% endif %}
                <!-- photo display -->
                {% if tweets.media != 'None' %}
                    {% if tweets.media.0.type == 'photo' %}
                        <img style="width:90%;" src="{{tweets.media.0.media_url}}">
                    {% endif %}
                {% endif %}
                <!-- video/mp4 display -->
                {% if tweets.media != 'None' %}
                    {% if tweets.media.0.type == 'video' %}
                        {% for video_info in tweets.media.0.video_info.variants %}
                            {% if video_info.bitrate == 832000 and video_info.content_type == 'video/mp4' %}
                                <iframe id="video" width="90%;" frameborder="0" src="{{video_info.url}}"></iframe>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <!--  -->
            </div>
            <hr>
            <div id="tweets-about-footer">
                {{tweets.created_at}} |
                {{tweets.retweet_count}} RT |
                {{tweets.favorite_count}} Likes
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- -->

    <!-- hide tweets -->
    <div id="hide-div">
        <div class="multi-column">
            {% for tweets in tweets_about|slice:"30:60" %}
            <div id="best-tweets-box">
                <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
                    <section class="user-align">
                        <img id="user-img" src="{{tweets.user.profile_image_url}}">
                        <div id="user-name-align">
                            <span>{{tweets.user.name}}</span>
                            <br>
                            <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
                        </div>
                        {% if tweets.user.verified %}
                        <img id="verified-badge" style="width:20px;" src="{% static 'trends/img/verified.png' %}">
                        {% endif %}
                    </section>
                </a>
                <div id="text-area">
                    {{tweets.text}}
                    <!-- @ link -->
                    {% if tweets.user_mentions.0.screen_name %}
                        {% for screen_names in tweets.user_mentions %}
                            <a href="{% url 'users' user_name=screen_names.screen_name %}">
                                @{{screen_names.screen_name}}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <!-- # link -->
                    {% if tweets.hashtags.0.text %}
                        {% for hashtags in tweets.hashtags %}
                            <a href="{% url 'hash' hash_name=hashtags.text %}">
                                #{{hashtags.text}}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <!-- photo display -->
                    {% if tweets.media != 'None' %}
                        {% if tweets.media.0.type == 'photo' %}
                            <img style="width:90%;" src="{{tweets.media.0.media_url}}">
                        {% endif %}
                    {% endif %}
                    <!-- video/mp4 display -->
                    {% if tweets.media != 'None' %}
                        {% if tweets.media.0.type == 'video' %}
                            {% for video_info in tweets.media.0.video_info.variants %}
                                {% if video_info.bitrate == 832000 and video_info.content_type == 'video/mp4' %}
                                    <iframe id="video" width="90%;" frameborder="0" src="{{video_info.url}}"></iframe>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <!--  -->
                </div>
                <hr>
                <div id="tweets-about-footer">
                    {{tweets.created_at}} |
                    {{tweets.retweet_count}} RT |
                    {{tweets.favorite_count}} Likes
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- -->

    <!-- hide tweets 2 -->
    <div id="hide-div2">
        <div class="multi-column">
            {% for tweets in tweets_about|slice:"60:90" %}
            <div id="best-tweets-box">
                <a href="{% url 'users' user_name=tweets.user.screen_name %}" class="user-profile">
                    <section class="user-align">
                        <img id="user-img" src="{{tweets.user.profile_image_url}}">
                        <div id="user-name-align">
                            <span>{{tweets.user.name}}</span>
                            <br>
                            <span style="color:black;"><b>@{{tweets.user.screen_name}}</b></span>
                        </div>
                        {% if tweets.user.verified %}
                        <img id="verified-badge" style="width:20px;" src="{% static 'trends/img/verified.png' %}">
                        {% endif %}
                    </section>
                </a>
                <div id="text-area">
                    {{tweets.text}}
                    <!-- @ link -->
                    {% if tweets.user_mentions.0.screen_name %}
                        {% for screen_names in tweets.user_mentions %}
                            <a href="{% url 'users' user_name=screen_names.screen_name %}">
                                @{{screen_names.screen_name}}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <!-- # link -->
                    {% if tweets.hashtags.0.text %}
                        {% for hashtags in tweets.hashtags %}
                            <a href="{% url 'hash' hash_name=hashtags.text %}">
                                #{{hashtags.text}}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <!-- photo display -->
                    {% if tweets.media != 'None' %}
                        {% if tweets.media.0.type == 'photo' %}
                            <img style="width:90%;" src="{{tweets.media.0.media_url}}">
                        {% endif %}
                    {% endif %}
                    <!-- video/mp4 display -->
                    {% if tweets.media != 'None' %}
                        {% if tweets.media.0.type == 'video' %}
                            {% for video_info in tweets.media.0.video_info.variants %}
                                {% if video_info.bitrate == 832000 and video_info.content_type == 'video/mp4' %}
                                    <iframe id="video" width="90%;" frameborder="0" src="{{video_info.url}}"></iframe>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <!--  -->
                </div>
                <hr>
                <div id="tweets-about-footer">
                    {{tweets.created_at}} |
                    {{tweets.retweet_count}} RT |
                    {{tweets.favorite_count}} Likes
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- -->
    <button class="bg-primary" id="load-btn">Load More</button>
{% endblock %}
</div>
<!--                ----------             -->
